@media (max-width: 767px) {
    
    h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }
    
    main {
        font-size: 16px;
        line-height: 30px;
        margin-top: 45px;
    }
    
    footer img {
        width: 20px;
        padding: 5px;
    }
}